.App {
  text-align: center;
}

body{
  text-align: center;
}
.countryList{

  padding-top: 5px;
  background-color: grey;
  width: 30%;
  margin: auto;
}
.playersDiv{
  border: 1px solid green;
  background-color: hotpink;
}
